.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 200px;
}

.quantity_plus > span {
  font-size: 30px;
}
.quantity_plus > span:hover {
  color: red;
}
.quantity_minus > span {
  font-size: 30px;
}
.quantity_minus > span:hover {
  color: red;
}
input {
  height: 50px;
  width: 150px;
  border-radius: 10px;
}
